if SHIELD_EGRET_LEFT

config ZMK_KEYBOARD_NAME
    default "Egret"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EGRET_LEFT || SHIELD_EGRET_RIGHT

config ZMK_SPLIT
    default y

endif
